body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.app__container {
  width: 900px;
}
.app__title {
  font-size: 20px;
}
.form__container {
  background: #e8e8e8;
  outline: none;
  position: relative;
}
.form__container input {
  border: none;
  border-radius: 5px;
  padding: 6px;
  text-align: center;
  display: inline;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}
.form__container button {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 6px;
  margin-top: 5px;
  background: #6bb4ff;
  margin-left: 10px;
  color: white;
}
.contacts__container {
  margin: 0 auto;
  background: #e8e8e8;
  height: 500px;
  text-align: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.contacts__column {
  list-style: none;
  width: 100%;
}
.contacts__column li {
  margin: 10px;
  text-align: center;
  width: 100%;
}
.contacts__button--edit {
  background: #80ed80;
  outline: none;
  width: 50px;
  height: auto;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 0;
  color: white;
}
.contacts__button--delete {
  background: #e85f5f;
  outline: none;
  width: 50px;
  height: auto;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 0;
  color: white;
}
.modal__container {
  width: 100%;;
  height: 50px;;
  background: #cff9c2;
  margin: 0 auto;
  display: none;
}
.modal__container input {
  border: none;
  border-radius: 5px;
  padding: 6px;
  text-align: center;
  display: inline;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 10px;
  outline: none;
}
.modal__container button {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 6px;
  margin-top: 5px;
  background: #80ed80;
  margin-left: 10px;
  color: white;
}
